<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Demande de titre foncier</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="[ '/', 'auth', 'deconnexion' ]">
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; background-image: url('../../../assets/back3.jpg')">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-segment (ionChange)="onSegmentChanged($event)" color="tertiary">
          <ion-segment-button value="documentScanner" color="danger">
            <ion-label color="secondary">J'ai déjà scanner</ion-label>
          </ion-segment-button>
          <ion-segment-button value="documentEnphoto" color="danger">
            <ion-label color="secondary">Prendre des photos</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="height: 100%">

      <ion-col size-sm="6" offset-sm="3">

        <ion-card style="background-color: whitesmoke">

          <ion-card-header>
            <ion-card-title class="ion-text-center">Confirmation de demande de titre foncier</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form #DemanderPermisForm='ngForm' (ngSubmit)="onSubmit(DemanderPermisForm)">
              <div class="docuementScannerTrue ion-text-center" *ngIf="etatScanne">
                <ion-item>
                  <ion-label >Certificat viallageois<ion-text color="danger">*</ion-text>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="file" name="documentUnCtrl" ngModel required #documentUnCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!documentUnCtrl.valid && documentUnCtrl.touched" lines="none">
                  <p>
                    Certificat viallageois Invalide
                  </p>
                </ion-item>

                <ion-item>
                  <ion-label>Carte d'identité<ion-text color="danger">*</ion-text>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="file" name="documentDeux" ngModel required #documentDeuxCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item *ngIf="!documentDeuxCtrl.valid && documentDeuxCtrl.touched" lines="none">
                  <p>
                    Carte d'identité
                  </p>
                </ion-item>
              </div>

              <div class="docuementScannerFalse ion-text-center" *ngIf="!etatScanne">
                  <ion-item>
                    <ion-label> Certificat viallageois</ion-label>
                      <ion-button (click)="takeThirstPicture()">
                        <ion-icon slot="icon-only" name="camera" > </ion-icon>
                      </ion-button>
                  </ion-item>
  
                  <ion-item *ngIf="image1Url">
                      <img [src]="image1Url" style="max-width: 100%">
                  </ion-item>

                  <ion-item>
                    <ion-label>Carte d'identité</ion-label>
                      <ion-button (click)="takeSecondPicture()">
                        <ion-icon slot="icon-only" name="camera" > </ion-icon> 
                      </ion-button>
                  </ion-item>
                  <ion-item *ngIf="image2Url">
                    <img [src]="image2Url" style="max-width: 100%">
                </ion-item>

                </div>
              <ion-item>
                <ion-label position="floating">Localité<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" name="localite" ngModel required #localiteCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!localiteCtrl.valid && localiteCtrl.touched" lines="none">
                <p>
                  Localité invalide
                </p>
              </ion-item>
              <ion-button [disabled]="!DemanderPermisForm.valid" class="ion-margin" expand="block" color="success"
                type="submit">
                Confirmer la demande
              </ion-button>

            </form>
            <!-- form end -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>