<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>liste-payement</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="ion-text-center">Vos payement effectués</ion-card-title>
        </ion-card-header>
        <ion-card-content >

            <ion-item  style="text-align:center" *ngIf="payementEffectuer.length<=0">
                <p>
                    Aucun payement effectuer
                </p>
            </ion-item>


            <ion-item *ngIf="payementEffectuer.length>0" lines="none">
                <p>
                    <ion-item *ngIf="payementEffectuer.length!=0">
                        <ion-label>1</ion-label>
                        <ion-button (click)="onVoirEtat()" slot="end" color="warning"
                            [routerLink]="[ '/', 'permis', 'etat-permis'  ]">
                            Voir l'avancé
                        </ion-button>
                        <ion-button (click)="onPayement()" slot="end" color="warning"
                            [routerLink]="[ '/', 'permis', 'etat-permis'  ]">
                            Payement
                        </ion-button>
                    </ion-item>
                </p>
            </ion-item>
        </ion-card-content>

        <div class="ion-text-center ion-margin">
            <ion-button color="tertiary" expand="block" [routerLink]="[ '/payement']">
                Effectuer un nouveau payement
            </ion-button>
        </div>
    </ion-card>
</ion-content>